/* global */

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
}

.text-center {
    text-align: center;
}

.color-maroon {
    color: maroon;
}

.color-navyblue {
    color: navy;
}